{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
{{ params }}
<form method="post">
    <label>
        Username
        <input type="text" name="username" value="{{ username }}">
    </label><div class="error"></div>
    <br>
    <label>
        Password
        <input type="password" name="password">
    </label><div style="color:red"></div>
    <br>
    <div class="error">{{error}}</div>
    <input type="submit">
</form>

<br>
Don't have an account? <a href="/signup">sign up</a>
{% endblock %}